h1, h3 {
  font-family: 'Concert One', cursive;
}

img {
  vertical-align: middle;
}

.divider {

  opacity: 0.2;

}

.show {

}

.clear {
  display: none;
}

/* Overriding Materialize defaults */

.red {
  background-color: black
  !important;
}

.teal {
  background-color: black
  !important;
}

.purple {
  background-color: black
  !important;
}

.blue {
  background-color: black
  !important;
}

.green {
  background-color: black
  !important;
}


/* Overridden Semantic UI */
