h1, h3 {
  font-family: 'Concert One', cursive;

}

img {
  vertical-align: middle;
}

.divider {

  opacity: 0.2;

}

/* Overriding Materialize defaults */

.red {
  background-color: black
  !important;
}

.teal {
  background-color: black
  !important;
}

.purple {
  background-color: black
  !important;
}

.blue {
  background-color: black
  !important;
}

.green {
  background-color: black
  !important;
}

.full-width {
  height: 100vh;
}







/* Overridden Semantic UI */
